.item{
    margin: 10px 20% 10px 30%;
    min-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.item:hover{
    background-color: #dbdbdb;
}

.link{
    padding: 20% 1% 10%;
    text-align: center;
}

.link a{
    text-decoration: none;
}

.item-active{
    color: red;
}