.users-page-title{
    color: #23aef1;
    font-weight: bold;
    font-size: large;
    margin: 5px 5px 0 5px;
}

.active-page{
    font-weight: bold;
}

.users{
    height: 100%;
    max-height: 633px;
    padding: 8%;
    overflow-x: hidden;
    overflow-y: auto;
}

.user{
    min-height: 142px;
    min-width: 529px;
    margin: 5%;
}

.bio{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    height: 100px;
    margin-left: 5%;
    margin-top: 2%;
    padding: 2%;
    color: #23aef1;
    border-radius: 10px;
    border: 1px solid #23aef1;
}

.name-status{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.full-name{
    font-weight: bold;
    height: 50%;
}

.status{
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.location{
    display: inline-block;
    vertical-align: top;
    float: right;
    font-weight: bold;
}

.country{
    margin-bottom: 5px;
}

.city{
    text-align: right;
}

.ava-follow{
    display: inline-block;
    vertical-align: top;
}

.ava-follow img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.follow{
    padding-left: 15%;
}

