.container{
    height: 100%;
    min-height: 530px;
}

.container:after{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.username{
    text-align: center;
    height: 6%;
    border-bottom: 1px solid #dbdbdb;
}

.messageList{
    padding: 10px;
    width: 100%;
    height: 87%;
    min-height: 456px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.fix{
    flex: 1 1 auto;
}

.text_area{
    height: 7%;
    min-height: 46px;
    display: flex;
    padding-bottom: 2%;
}

.text_area textarea{
    border: 1px solid #dbdbdb;
    border-radius: 22px;
    margin: 0 5px;
    padding: 4px 9px;
    line-height: 17px;
    font-size: 14px;
    resize: none;
    flex-grow: 1;
    outline: none;
}
