.nav{
    width: 15%;
    max-width: 94px;
    height: 99%;
    min-height: 530px;
    margin-top: 1%;
    display: inline-block;
    vertical-align: top;
    background-color: darkseagreen;
}

.nav-item a{
    margin: 5px;
    color: white;
    text-decoration: none;
}

.nav-item a.active{
    color: gold;
}