.app-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 90%;
}

.app-wrapper-content {
  width: 84%;
  margin-left: 1%;
  margin-top: 1%;
  height: 99%;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.app-wrapper-content img{
  width: 658px;
}

