*,
*:before,
*:after{
    box-sizing: border-box;
}

.dialogs{
    width: 100%;
    min-width: 580px;
    height: 100%;
    min-height: 530px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
}

.dialogItems{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    min-width: 86px;
    height: 100%;
}

.chat{
    border-left: 1px solid #dbdbdb;
    display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 100%;
    min-height: 530px;
}



